/* body{
    display:grid;
    /* grid-template-columns:[first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
    grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line]; */
    /* grid-template-columns: [first] 1fr [second] 1fr [third] 1fr [last] 1fr [end];
    grid-template-rows: [uno] 1fr [dos] 1fr [tres] 1fr [quatro] 1fr [cinco] 1fr[seis]; */
    /* grid-template-areas:"header header header ."
                        "main main navbar navbar"
                        "main main article sidebar"
                        "aside . . sidebar"
                        ". footer footer footer"; */
                        /* padding: 5px;
    border: 6px solid blue;
    gap: [row gap] [col gap];
    gap: 10px 10px;
    justify-items: stretch;
    align-items: stretch;
}
.header{
    display: flex;
    grid-area: header;
    border: 5px solid purple;
    grid-column: first/last;
    grid-row: uno/dos;
}
.main{
    grid-area: main;
    border: 5px solid purple;
    grid-column: second/end;
    grid-row: quatro/cinco;
}
.navbar{
    grid-area: navbar;
    border: 5px solid purple;
    grid-column: first/second;
    grid-row: dos/cinco;
}
.footer{
    grid-area: footer;
    border: 5px solid purple;
    grid-column: first/end;
    grid-row: cinco/seis;
}
.sidebar{
    grid-area: sidebar;
    border: 5px solid purple;
    grid-column: second/last;
    grid-row: dos/quatro;
}  */
/*.aside{
    grid-area: aside;
    border: 5px solid purple;
    grid-column: last/end;
    grid-row: uno/quatro;
} 
.article{
    grid-area: article;
    height: 100px;
    border: 5px solid purple;
}*/

body{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    font: 0.9em/1.5em "helvetica neue", helvetica;
    background-image: url(../Downloads/sun-tornado.svg);
}
.box{
    width: 150px;
    height: 100px;
    border-radius: 5px;
    background-color: rgb(207,232,220);
    padding: 1em;
    margin: 1rem;
    float: left;
}
.special{
    left: 0;
    top: 0;
    position: absolute;
    z-index: 5;
    background-color: aqua;
    padding: 10px;
    color: blanchedalmond;
}
.cleared{
    position: absolute;
    top: 0;
    left: 0;
    clear: left;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.top_header{
    margin-top: 6rem;
}
li a:hover{
    background-color: #111;
}
.pic1{
    position: relative;
    top: -650px;
    left: 200px;
}
.img{
    position: relative;
    top: -100px;
    left: 150px;
}